#bruh {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

span {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.section:hover {
    color: #5cf068;
}

@media print {
    #section3 {
        display: none;
    }
}

@media (min-width: 700px) {

    /*rer*/
    body {
        background-color: green;
    }
}

/* @media (max-width: 699px) {
    body {
        background-color: yellow;
    }
} */

h1::selection {
    color: white;
    background-color: black;
}

.row {
    padding: 20px;
}

.col-3 {
    text-align: center;
    border: 5px solid blue;
    border-collapse: collapse;
}