{% extends "layout.html" %}
{% block heading   %} First Page {% endblock %}

{% block body  %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi quibusdam optio delectus saepe molestias, quae,
    laboriosam reiciendis rerum repellat nobis sed. Ducimus eaque, corrupti velit facere doloribus corporis beatae
    sunt.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci odit voluptatibus vel, incidunt non
    voluptas, sed eaque repellat soluta quos illum ipsum dolor facilis placeat in commodi animi veritatis ullam!</p>
<a href="{{url_for('more')}}">more...</a>
{% endblock %}