<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskFormSite</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <ul style="padding-top: 10px;">
            {% for note in notes %}
            <li>{{note}}</li>
            {% endfor %}
        </ul>
        <form action="{{url_for('index')}}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="note" required="" placeholder="Enter your note">
            </div>
            <!-- <input type="text" name="name" placeholder="enter your name"> -->
            <button class="btn btn-danger btn-md ">Submit</button>
        </form>
    </div>

</body>

</html>